{% extends "base.html" %} 
{% block content %}
<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }
    
    .head_text {
        color: white;
    }
    
    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }
</style>

<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h3 class=" site-heading my-4 mt-3 text-white"> Welcome to Wanderlust</h3>
                    <p class="text-light">We love the Nomadic travel life just as much as you do.! &nbsp
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8 mt-3 left">
            <div class="blog_article">
                {% for i in object_list %}
                    <div class="card mb-4">
                        <div class="card-body">
                        <h3 class="card-title"> <a href="{% url 'blog:detail' i.pk %}">{{ i.title }}</a></h3>
                        <p class="card-text text-muted h6">{{ i.created_on }} | {{i.author}}</p>
                        <!-- <p class="card-text">{{i.content|slice:":200" }}</p> -->
             

                       
                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>
        {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
    </div>
</div>
{%endblock%}