{% block sidebar %}

        <style>
                 .card{
                 box-shadow: 0 16px 48px #E3E7EB;
        }
       
        </style>

<!-- Sidebar Widgets Column -->
            <div class="col-md-4 float-right ">
                <div class="card my-4">
                    <h5 class="card-header">About Us</h5>
                        <div class="card-body">
                        <p class="card-text"> This is a travel blog made by Akshayaa Ramesh, who has learnt and implemented Django and Django REST framework as a starter. The website is still under development and requires a few modifications. Thank you for visiting this site, while you wait for the site to be complete, click the button below which redirects you to a nice youtube video track by <b>"Flipsyde"</b></p>
                        <a href="https://www.youtube.com/watch?v=e5QEAI_O2IA"
                        class="btn btn-danger">Know more!</a>
                        </div>
                </div>
            </div>

{% endblock sidebar %}
